<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>Portfolio Page</title>
</head>
<body>
<div class="container">
<div class="profile" id="columns">
  <img src="https://linkedin.com/mpr/mpr/AAEAAQAAAAAAAAg7AAAAJDM2MWNiYjJmLTk2ZmYtNGU0Yy1hNzMyLTY0ZjI2ZGY2Njc0MA.jpg" id="profilePicture"/>


</div>
<div class="content" id="columns">
    <span id="topics">
      <h1>Fernando Sanchez</h1>
    </span>
  <span id="topics">
    <h2>Where I'm from</h2>
    <h5>Acapulco, Mexico</h5>
  </span>
  <span id="topics">
    <h2>Hobbies</h2>
    <h5>Trading Card Games</h5>
    <h5>Boards Games</h5>
    <h5>Pickup games</h5>
    <h5>PC Gaming</h5>
  </span>
  <span id="topics">
    <h2>Internship</h2>
    <h5 id="internshipImg">HERE</h5>
  </span>

</div>
</div>


</body>
</html>